<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530187568591-5u6hq1rspo5lrk0itk2t3hdm5mhfhit3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuVI3hqeYdpTvotHLa2vuBh6mty2BB-nI</string>
	<key>GCM_SENDER_ID</key>
	<string>530187568591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.taugor-drive</string>
	<key>PROJECT_ID</key>
	<string>taugor-drive-3e46a</string>
	<key>STORAGE_BUCKET</key>
	<string>taugor-drive-3e46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530187568591:ios:7dd84722bbd7293164beba</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530187568591-5u6hq1rspo5lrk0itk2t3hdm5mhfhit3</string>
</dict>
</plist>
