<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757586612421-8mr345f10gjckmjod8jl4bqckgivp66v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757586612421-8mr345f10gjckmjod8jl4bqckgivp66v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757586612421-6icclbhgvd9e2i43qsrv71k3pfrg4vid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYcXE0VLQ6M9aEtZM4x3kbTbK1ft0wggs</string>
	<key>GCM_SENDER_ID</key>
	<string>757586612421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.taugor-drive</string>
	<key>PROJECT_ID</key>
	<string>db-erd</string>
	<key>STORAGE_BUCKET</key>
	<string>db-erd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757586612421:ios:b7e5754be4af48c40260ac</string>
	<key>DATABASE_URL</key>
	<string>https://db-erd-default-rtdb.firebaseio.com</string>
</dict>
</plist>